<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/signup.css">
    <script src="https://kit.fontawesome.com/ce278d166d.js" crossorigin="anonymous"></script>
    <title>OpenBook</title>
</head>
<body>
<div class="container">
  <div class="form-box">
      <h1 id="title">Sign Up</h1>
     <form action="{{ url_for('signup') }}" method="POST">
         <div class="input-group">
             <div class="input-field">
                 <i class="fa-solid fa-user"></i>
                 <input type="text" name="name" placeholder="Name"/>
             </div>
             <div class="input-field">
                 <i class="fa-solid fa-envelope"></i>
                 <input type="email" placeholder="Email" value="{{email if email}}"/>
             </div>
             <div class="input-field">
                 <i class="fa-solid fa-lock"></i>
                 <input type="password" placeholder="Password"/>
             </div>
         </div>
         <div class="btn-field">
             <button type="submit" id="signupBtn" class="disable">Sign up</button>
         </div>
     </form>
  </div>
</div>
<script>
   let signupBtn = document.getElementById("signupBtn");
   let signinBtn = document.getElementById("signinBtn");
   let nameField = document.getElementById("nameField");
   let title = document.getElementById("title");

     signupBtn.onclick = function(){
     nameField.style.maxHeight = "60px";
     title.innerHTML = "Sign up";
     signupBtn.classList.remove("disable");
     signinBtn.style.display = "none";

     let inputFields = document.querySelectorAll('.input-field input');
     for (let input of inputFields) {
     input.value = '';
        }
    };
</script>
</body>
</html>

